#tablaVehiculos
{ 
    background-color: gainsboro;
    border-collapse: collapse;  
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%; 
   
    justify-content: center;
    z-index: -1; 
}

#tablaFiltrados
{ 
    background-color: gainsboro;
    border-collapse: collapse;  
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%; 
   
   
    justify-content: center;
    z-index: -1; 
}

tr:nth-child(even)
{
    background-color: black;
    color: gold;
}
#th, td
{
    border-collapse: collapse; 
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    
}

#contenedorAlta {
    padding: 5%;
    border-radius: 10%;
    position: fixed;
    flex-wrap: wrap;
    padding-left: 10px;
    background: darkgoldenrod;
    width: 50%;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    top: 25%;
    left: 25%;
    right: 25%;
}


#contenedorAgregar
{
    justify-content: space-between;
   
    width: 50%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
    top:25%; 
    left:25%; 
    right:25%;
   
}

#divUser
{
    width: 100%;
}

#cerrar
{
    background-color: red;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 5%;
   
}



#divCerrar
{
    display: flex;
    justify-content: flex-end;
}

#btnModificar
{
    background-color: limegreen;
    border: 1px solid black;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
#btnGuardar
{
    background-color: limegreen;
    border: 1px solid black;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#divbotones
{
    justify-content: space-between;
    flex-direction: row;
}

#btnEliminar
{
    background-color: red;
    border: 1px solid black;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

}

#loader
{
    opacity: 0.5;
    flex-wrap: wrap; 
    position: fixed; 
    
    top:10%;
    
    text-align: center;
    width: 100%;
    z-index: 999;
}

#h1
{
    width: 100%;
    left: 25%;
    right: 25%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: darkgoldenrod;
}

